<table class = "table table-striped table-bordered table-hover">
  <tr>
    <th class ="center"> Image </th>
    <th class ="center"> Name </th>
    <th class ="center"> Description </th>
    <th class ="center"> Price </th>
    <th class ="center"> Action </th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td class ="center"><%= image_tag listing.image.url(:thumb) %> </td>
      <td class ="center"><%= listing.name %> </td>
      <td class ="center"><%= listing.description %> </td>
      <td class ="center"><%= number_to_currency(listing.price) %> </td>
      <td class ="center">
        <%= link_to "View", listing, class: "btn btn-link" %>
        <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-link" %>
        <%= link_to "Destroy", method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %>
      </td>
    </tr>
    <% end %>
  </table>


<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
