<!DOCTYPE html>
<html>
<head>
  <title>EstyClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navibar' %>
	<div class ="container">
		<%= render 'layouts/message' %>

<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
